@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --tw-radial-gradient-shape: ;
    --tw-radial-gradient-size: farthest-corner;

    --tw-mask-from-opacity: 1;
    --tw-mask-to-opacity: 0;
    --tw-mask-from-position: 0%;
    --tw-mask-to-position: 100%;
  }

  body {
    font-size: 14px;
    scroll-behavior: smooth;
    overflow-x: hidden;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
    -webkit-appearance: none;
  }
}
